<!DOCTYPE html>
<html lang="en">
  {% include "partials/header.html" %}
  <body>
    <div class="container">

      <div class="page-header">
        <h1>Shoe Store</h1>
      </div>

      <div class="panel with-nav-tabs">

        <div class="panel-heading">
          <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/brands">Brands</a></li>
            <li><a href="/stores">Stores</a></li>
          </ul>
        </div>

        <div class="panel-body">
          <h3>Welcome to your SQL Shoe Store Manager!</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <button><a href="https://github.com/RAAllen/sql_shoe_store">Click me!</a></button>
        </div>

      </div>

    </div>
  </body>
</html>
