<!DOCTYPE html>
<html lang="en">
  {% include "partials/header.html" %}
  <body>
    <div class="container">

      <div class="page-header">
        <h1>Shoe Store</h1>
      </div>

      <div class="panel with-nav-tabs">

        <div class="panel-heading">
          <ul class="nav nav-tabs nav-justified">
            <li><a href="/">Home</a></li>
            <li><a href="/brands">Brands</a></li>
            <li class="active"><a href="/stores">Stores</a></li>
          </ul>
        </div>

        <div class="panel-body">
          <div class="row">
            <h3>Welcome to your SQL Shoe Store Manager!</h3>
            <div class="col-xs-6">
            <p>Add brands of shoes that your store carries in the form to the right. Or go back to the main stores page by clicking the button below.</p>
            <button><a href="/stores">Click me!</a></button>
            <p>Or you can delete this store by clicking the button below.</p>
            <button action="delete_store" method="post">Delete here!</button>
            </div>
            <div class="col-xs-6">
              <form action="/add_brand_to_store/{{ store.getId }}" method="post">
                <div class="form-group">
                  <label for="new-brand">Add a new brand's name:</label>
                  <input class="form-control" name="new-brand" type="text" placeholder="Fred's Footwear">
                </div>
                <label for="brand_id">Or add an existing brand that your store carries:</label>
                <select name="brand_id" class="form-control">
                  <option value="0"></option>
                  {% for brand in brands %}
                  <option value="{{brand.getId}}">{{brand.getName}}</option>
                  {% endfor %}
                </select>
                <button type="submit" name="form-submit">Click to add!</button>
              </form>
            </div>
          </div>
        </div>

      </div>

    </div>
  </body>
</html>
