<!DOCTYPE html>
<html lang="en">
  {% include "partials/header.html" %}
  <body>
    <div class="container">

      <div class="page-header">
        <h1>Shoe Store</h1>
      </div>

      <div class="panel with-nav-tabs">

        <div class="panel-heading">
          <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/brands">Brands</a></li>
            <li><a href="/stores">Stores</a></li>
          </ul>
        </div>

        <div class="panel-body">
          <h3>Welcome to your SQL Shoe Store Manager!</h3>
          <p>This is a php and sql application designed to help you easily track the brands of shoes carried by specific shoe stores.</p>
          <button><a href="https://github.com/RAAllen/sql_shoe_store">Click me!</a></button>
        </div>

      </div>

    </div>
  </body>
</html>
